<div class="hero_section d-flex">
    <div class="title p-4">
        <h6>Dashboard/Employee</h6>
        <h3>Employees</h3>
    </div>
    <div class="search_bar mt-4 d-flex " >
        <div class="search d-flex">
            <div class="search_icon">
                <i class="fa-solid  fa-magnifying-glass"></i>
            </div>
            <input type="search" class="search_sub form-control ps-4 " 
                placeholder="Search" id="searchInput"aria-label="search">
        </div>
        <div class="icon">
            <i class="fa-regular fa-bell"></i>
        </div>
        <img src="image/img2.png" alt="">
    </div>
</div>