<div class="side_menu">
    <div class="header_section p-4">
        <h3 class="head m-0">Employee </h3>
        <span>Management</span>
    </div>
    <ul class="menu_list">
        <li><a href="#"><i class="fa-solid fa-house"></i>Dashboard</a></li>
        <li><a href="#"><i class="fa-solid fa-chart-simple"></i>Employee</a></li>
        <li><a href="#"><i class="fa-solid fa-user"></i>My Profile</a></li>
        <!-- <li><a href="#"><i class="fa-solid fa-lock"></i>Logout</a></li> -->
        <form action="api/users/logout" method="get">
            <button class="Logoutbtn" type="submit"><i class="fa-solid fa-lock"></i>Logout</button>
        </form>
    </ul>
    <div class="footer px-4 mb-3">
        <p>powered by</p>
        <span><img src="image/image 1.png"></span>
    </div>
</div>